cma>=3.0.3
dominate>=2.5.1
easydict>=1.9
imageio>=2.8.0
ipython>=7.14.0
matplotlib>=3.2.1
nevergrad>=0.4.0.post3
nltk>=3.5
numpy>=1.18.4
Pillow>=7.1.2
pytorch_pretrained_biggan>=0.1.1
rawpy>=0.14.0
scipy>=1.4.1
scikit-image>=0.0
streamlit>=0.58.0
tqdm>=4.46.0
visdom>=0.1.8.9
opencv-python>=4.2.0.34
scikit-video>=1.1.11
